<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="../bootstrap.css">

<div class="col-md-3" style="padding: 10px;margin-left: 30px;height: 30px">
	<div class="thumbnail">
		NAME:<%= result[0].Name%><br><br>
		Email:<%= result[0].Email%><br><br>
		USERNAME:<%= result[0].UserName%><br><br>
		</div>
	</div>


</body>
</html>